* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("https://media.istockphoto.com/id/1225058659/photo/businesswoman-using-digital-tablet-with-holding-bar-graph.webp?a=1&b=1&s=612x612&w=0&k=20&c=Pn7nbYK3aisVly5OhR9RmD7i6EzaOYOxlKPWuLN4vVI=");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.header_div {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 40%;
    background-color: #b30101;
    padding: 15px 25px;
    border: 5px solid rgb(0, 87, 146);
    border-radius: 25px;
    box-shadow: 2px 4px 5px 2px rgba(90, 247, 153, 0.5);
}

header h1 {
    text-align: center;
    align-items: center;
    font-family: "Agu Display", serif;
    font-weight: 1000;
    font-size: 2.5rem;
    color: rgb(244, 248, 141);
}

main {
    padding: 20px;
    color: aliceblue;
    font-family: "Playwrite GB S", serif;
    font-weight: 1000;
    color: rgb(202, 40, 0);
}

.dropdown-section {
    margin-bottom: 20px;
    text-align: center;
}

.dropdown-section h2 {
    font-size: 1.8rem;
    margin: 20px;
    color: rgb(255, 51, 0);
}

.search-section {
    margin-top: 20px;
    margin-bottom: 20px;
}

input, select {
    padding: 10px;
    font-size: 20px;
    margin-right: 10px;
    border-radius: 10px;
    border: none;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 206, 206, 0.5);
}

button {
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #fe6a48;
    padding: 15px 35px;
    margin: 0px 10px;
    border: 1px solid rgb(218, 126, 60);
    border-radius: 25px;
    box-shadow: 2px 4px 5px 2px rgba(213, 100, 20, 0.5);
    transition: all 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    color: #ffc107;
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.stock-info, .graph-section, .stock-table {
    margin: 20px 0;
}

#stockChart {
    width: 100%;
    height: 400px;
}

.table_heading {
    background-color: rgb(252, 182, 96); 
    width: 20%; 
    display: flex; 
    justify-content: center; 
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    font-size: 1rem;
    border: 5px solid #ddd;
    background-color: #078bff;
    color: #ff0606;
    text-align: center;
}
.tabs-section {
    margin-bottom: 20px;
}

.stock-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stock-tab {
    padding: 10px 15px;
    margin: 5px;
    background-color: #fe6a48;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.stock-tab:hover {
    background-color: #fe6a48;
}

.stock-tab.active {
    background-color: #fe6a48;
}


#stockDropdown {
    padding: 10px;
    font-size: 16px;
    width: 300px;
}

@media screen and (max-width: 1025px) and (min-width: 768px) {
    .search-section {
        display: flex;
    }
}


@media screen and (max-width: 768px) {
    .search-section {
        flex-direction: column;
    }

    .header_div {
        width: 250px;
    }

    .header_div h1 {
        font-size: 1.5rem;
    }

    .dropdown-section {
        display: flex;
        flex-direction: column;
    }

    button {
        font-size: 0.85rem; 
    }

    .table_heading {
        background-color: transparent;
    }
    
}